body{
    margin: 0;
    background-color: coral;
    opacity: 0.7;
}
h1{
    font-family: sans-serif;
    justify-content: center;
    display: flex;
    color: rgb(46, 1, 10);
}
form{
    justify-content: center;
    display: flex;
    margin-top: 100px;
}
input{
    background-color: bisque;
    border: solid salmon;
    outline: white;
    height: 25px;
    width: 500px;
}
.uldiv{
    justify-content: center;
    display: flex;
    overflow:hidden ;
}
ul{
    list-style: none;
    width: 500px;
}
li{
    margin-top: 10px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bolder;    
}

